asgiref==3.6.0
astroid==2.15.4
autopep8==2.0.2
buildozer==1.5.0
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
Cython==0.29.19
dill==0.3.6
distlib==0.3.6
Django==4.1.7
django-shortcuts==1.6
docutils==0.19
filelock==3.10.0
idna==3.4
isort==5.12.0
keyboard==0.13.5
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.5.1
lazy-object-proxy==1.9.0
mccabe==0.7.0
pexpect==4.8.0
Pillow==9.5.0
platformdirs==3.1.1
ptyprocess==0.7.0
PyAudio==0.2.13
pycodestyle==2.10.0
Pygments==2.14.0
pylint==2.17.3
pypiwin32==223
PySimpleGUI==4.60.4
pywin32==305
requests==2.28.2
sh==2.0.2
SpeechRecognition==3.10.0
sqlparse==0.4.3
tomlkit==0.11.8
ttkthemes==3.2.2
tzdata==2022.7
urllib3==1.26.15
virtualenv==20.21.0
virtualenvwrapper-win==1.2.7
wrapt==1.15.0
